# Firebase Configuration (Public bits)
VITE_FIREBASE_PROJECT_ID=waking-shadow-0cf5x
VITE_FIREBASE_APP_ID=1:442012599185:web:ba433655ab7adb7f2e5030
VITE_FIREBASE_API_KEY=AIzaSyDcNp7RnBI04F69hRMMi6ATQZjKoH5XnTs
VITE_FIREBASE_AUTH_DOMAIN=waking-shadow-0cf5x.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-25f71a1b-19ab-4497-a105-04f9152bd7df
VITE_FIREBASE_STORAGE_BUCKET=waking-shadow-0cf5x.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=442012599185
